.wrapper {
    display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"header header header"
	"aside articles articles"
    "footer footer footer";
	margin:2%;
	grid-gap: 25px;
}

.header {
    background-color:red;
    grid-area:header;
    


}

.articles {
    background-color:yellow;
    grid-area:aricles;
     
	
}

.aside {
    background-color:pink;
    grid-area:aside;
    


}

.footer {
    background-color:lightsteelblue;
    grid-area:footer;
    

}